@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{font-family: 'Oswald', sans-serif; } 

.menu{
	min-width: 330px;
	color: #fff;
	position: absolute;
	padding: 10px;
	background: #000000;
	border-radius: 5px;
	box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.397);
	box-shadow: 0 0 5px rgb(255, 255, 255);
}

.pos {
	position: relative;
	bottom: 15px;
}

hr{
	border: none;
	background: white;
	width: 300px;
	height: 0.5px;
}

.menu.align-left { left: 40; top: 50%; transform: translate(0, -50%); } 

.head > span{
	position: relative;
	display: inline-block;
}

.head > span::before, .head > span::after{
	content: "";
	position: absolute;
	top: 52%;
	width: 9999px;
	height: 0.7px;
	background: #ffffff;
}

.head > span::before{
	right: 105%;
	margin-right: 15px;
}

.head > span::after{
	left: 105%;
	margin-left: 15px;
}

.align-left{
	position: absolute;
	left: 5%;
	top: 50%;
	transform: scale(0.95);
}

.align-right{
	position: absolute;
	right: 5%;
	top: 50%;
	transform: scale(0.95);
}

.align-top-left{
	position: absolute;
	left: 5%;
	top: 10%;
}

.align-top-right{
	position: absolute;
	right: 5%;
	top: 10%;
}

.align-bottom-left{
	position: absolute;
	bottom: 5%;
	left: 6%;
}

.align-bottom-right{
	position: absolute;
	bottom: 5%;
	right: 6%;
}

.align-bottom{
	position: absolute;
	bottom: 5%;
	left: 50%;
}

.align-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,50%);
}

::-webkit-scrollbar{
	width: 8px;
	border-left: 4px solid #27273300;
}

::-webkit-scrollbar-track{
	background: #27273300;
	border-left: 4px solid #27273300;
}

::-webkit-scrollbar-thumb{
	background: #1a242d00;
	border-left: 4px solid #27273300;
}

::-webkit-scrollbar-thumb:hover{
	background: #1a242d00;
	border-left: 4px solid #27273300;
}
.head{
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
}

.menu .head{
	background: #03030300;
	padding-left: 5px;
	text-align: left;
	height: 50px;
	color: #fcf8f8;
	font-weight: 300;
	line-height: 35px;
	font-size: 2.3vh;
}

.menu .menu-items{
	max-height: 525px;
	overflow-y: auto;
	font-weight: 500;
	background: #21212100;
}

.menu .menu-items .menu-item {
    display: block;
    height: 32px;
    line-height: 32px;
    color: black;
    text-align: left;
    font-size: 1.3vh;
    border-radius: 5px;
    background-color: #000000d1;
    color: white;
    box-shadow: 5px #000;
    margin: 0 5px 5px 5px;
    padding-left:7px;
}

.menu .menu-items .menu-item.selected { 
	opacity:100;     
	box-shadow: 0 0 5px rgb(255, 255, 255);
	border-radius:.2rem; 
	background-color:rgba(255,255,255,0.87); 
	color:#000; transition-duration:.2s; 
	transition-timing-function:ease-in-out; 
	animation:selectedMenu 0.5s;  
} 

@keyframes selectedMenu { 0% { opacity:0; transform:scale(0.5) } 50% { opacity:.2 } 100% { opacity:1; transform:scale(1) } } 